.header{
    margin-top: 25px;
    text-decoration: underline;
}
.main-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container-wrapper {
    width: 90%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-heading {
    margin: 40px 0 10px 0;
    padding: 0 10px;
}
.main-heading h3 {
    font-size: 22px;
    text-decoration: none;
}

.main-form-container {
    min-width: 300px;
    width: 100%;
    max-width: 800px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.all-groups{
    margin-right: 45px;
    width: 300px;
}

.grp-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 20px 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px 1px #00000038
}

.event-name {
    width: 100%;
}


.participant-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.first-field {
    width: calc(50% - 20px);
}

.extra-field {
    width: calc(50% - 40px);
}

#form-add-btn{
    margin: 20px 0;
}

.form-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

#cancel-btn {
    border-color: red;
}

#submit-btn {
    background-color: green;
    color: white;
    width: 150px;
}


